################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/GaussianCore/bin
/GaussianCore/obj
/GaussianCore.Sample2D/bin/Debug
/GaussianCore.Sample2D/obj/Debug
/SecurityAccess/bin
/SecurityAccess/obj
/SecurityAnalysisConsole/bin
/SecurityAnalysisConsole/obj
*.user

