################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/GaussianCore/GaussianCore/obj/Debug
/GaussianCore/Sample2D/obj/Debug
/GaussianCore/Sample2D/bin/Debug
/GaussianCore/GaussianCore/bin/Debug
/SecurityAccess/obj/Debug
/Sample2D/obj/Debug
/Sample2D/bin/Debug
/GaussianCore/obj/Debug
/GaussianCore/bin/Debug
